.vs
/bin/
/*/bin/
/*/*/bin/
/*/*/*/bin/
/*/*/*/*/bin/
/*/*/*/*/*/bin/
/*/*/*/*/*/*/*/bin/

/Debug/
/*/Debug/
/*/*/Debug/
/*/*/*/Debug/
/*/*/*/*/Debug/
/*/*/*/*/*/Debug/
/*/*/*/*/*/*/*/Debug/
/obj/
/*/obj/
/*/*/obj/
/*/*/*/obj/
/*/*/*/*/obj/
/*/*/*/*/*/obj/
/*/*/*/*/*/*/obj/


/obj/Debug/net6.0/
/*/obj/Debug/net6.0/
/*/*/obj/Debug/net6.0/
/*/*/*/obj/Debug/net6.0/
/*/*/*/*/obj/Debug/net6.0/
/*/*/*/*/*/obj/Debug/net6.0/
/*/*/*/*/*/*/obj/Debug/net6.0/


/net6.0/
/*/net6.0/
/*/*/net6.0/
/*/*/*/net6.0/
/*/*/*/*/net6.0/
/*/*/*/*/*/net6.0/

/*/net6.0/*.cache
/*/*/net6.0/*.cache
/*/*/*/net6.0/*.cache
/*/*/*/*/net6.0/*.cache
/*/*/*/*/*/net6.0/*.cache
/*/*/*/*/*/*/net6.0/*.cache

/*/net6.0/*.txt
/*/*/net6.0/*.txt
/*/*/*/net6.0/*.txt
/*/*/*/*/net6.0/*.txt
/*/*/*/*/*/net6.0/*.txt
/*/*/*/*/*/*/net6.0/*.txt


/Courier-lockers/bin
/Courier-lockers/obj